//-- STARTING NavBar animations --------------------------------------------------------------------------------
@keyframes SlideInFromRight {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}

@keyframes SlideOutToRight {
  0% {
    right: 0;
  }
  100% {
    right: -100vw;
  }
}
//-- ENDING NavBar animations ----------------------------------------------------------------------------------
