//-- STARTING Partials --------------------------------------------------------------------------------
@use './config' as *;
// @use './animations';
//-- Ending Partials ----------------------------------------------------------------------------------


//-- STARTING Intro Section Styles --------------------------------------------------------------------------------
#intro {
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  & > .intro-details-div {

    & > img {
      width: 200px;
      height: 200px;
      object-position: 0 -15px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid map-get($map: $theme-colors, $key: 'primary');
    }

    & > p {
      font-size: 2rem;

      & > .name {
        color: map-get($map: $theme-colors, $key: 'primary');
        font-weight: 700;
      }
    }

    .type_writer_wrapper {
      font-size: 2.5rem;
    }

    #type_writer_div {
      color: map-get($map: $theme-colors, $key: 'primary');
      font-weight: 700;
    }

    & > .social-media-wrapper {
      margin-top: 1rem;
      font-size: 1rem;

      p {
        margin-bottom: .5rem;
      }
      
      & > a {
        margin: .5rem;;
        font-size: 2rem;
        color: #dddddd;
        @include transition_5ms_ease_in_out;

        &:hover {
          color: map-get($map: $theme-colors, $key: 'text');
        }
      }
    }
  }
}
//-- Ending Intro Section Styles ----------------------------------------------------------------------------------