//-- STARTING Partials --------------------------------------------------------------------------------
@use './config' as *;
//-- ENDING Partials ----------------------------------------------------------------------------------


//----------------------------------------------------------------------------------------------------
//-- Breakpoint > Small(sm)
//----------------------------------------------------------------------------------------------------
@media screen and (min-width: $breakpoint-sm) {
  //-- STARTING intro-details-div media queries --------------------------------------------------------------------------------
  div#type_writer_div {
    display: inline-block;
    min-width: 350px;
  }
  //-- ENDING intro-details-div media queries ----------------------------------------------------------------------------------
}




//----------------------------------------------------------------------------------------------------
//-- Breakpoint > Medium(md)
//----------------------------------------------------------------------------------------------------
@media screen and (min-width: $breakpoint-md) {
  
  //-- STARTING Navbar media queries --------------------------------------------------------------------------------
  header {

    .container {
      align-items: center;
    }

    i.fas {
      display: none;
    }

    nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      position: unset;
      background: none;
      min-width: unset;
      height: auto;

      ul {
        display: flex;
        justify-content: flex-end;

        li {
          margin-left: .5rem;
          padding: 0;

          a {
            background: transparent;
            padding: .2rem 1rem;
            letter-spacing: 2px;
            font-size: 1.2rem;
            transition: background 1s;

            &:hover {
              background: rgba($color: #000000, $alpha: .4);
            }
          }
        }
      }
    }

  }
  //-- ENDING Navbar media queries ----------------------------------------------------------------------------------  
}



//----------------------------------------------------------------------------------------------------
//-- Breakpoint > Large(lg)
//----------------------------------------------------------------------------------------------------
// @media screen and (min-width: $breakpoint-lg) {
  
// }




//----------------------------------------------------------------------------------------------------
//-- Breakpoint > Xtra Large(xl)
//----------------------------------------------------------------------------------------------------
// @media screen and (min-width: $breakpoint-lg) {
  
// }
