@use './config' as *;

#skills {

  div.skills-div {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: auto / repeat(2, 1fr);
    
    
    & > div {
      padding: .5rem;
      display: inline-block;
    }
  }

}