@use './config' as *;

#skills {
  margin-bottom: 2rem;
  padding: 1rem;

  & > h1 {
    margin-bottom: 2rem;
  }

  div.skills-div {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: auto / repeat(2, 1fr);
    
    
    & > div {
      padding: .5rem;
      display: inline-block;
    }
  }

}