//-- STARTING Built-in Modules --------------------------------------------------------------------------------
@use 'sass:map';
//-- ENDING Built-in Modules ----------------------------------------------------------------------------------


//-- STARTING Partials --------------------------------------------------------------------------------
@use './config' as *;
@use './navbar';
@use './intro_section';
@use './skills_section';
@use './projects_section';
@use './contact_section';
@use './footer';
@use './media_queries';
//-- ENDING Partials ----------------------------------------------------------------------------------


//-- STARTING Defaults --------------------------------------------------------------------------------
main {
  @include bg-black-transparent();

  & > section > h1 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
}

a {
  text-decoration: none;
  color: map-get($map: $theme-colors, $key: 'text');
}
//-- ENDING Defaults ----------------------------------------------------------------------------------


//-- STARTING Classes --------------------------------------------------------------------------------
.container {
  margin: 0 auto;
  padding:  0 1rem;
  max-width: $breakpoint-xl;  
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

.flex-right {
  justify-content: flex-end;
}

.btn {
  cursor: pointer;
  display: inline-block;
}

.h-screen {
  min-height: 100vh;
}
//-- ENDING Classes ----------------------------------------------------------------------------------
